# Project exclude paths
/target/
/BowlingTDD.iml
/.idea/.gitignore
/.idea/compiler.xml
/.idea/google-java-format.xml
/.idea/sonarlint/issuestore/index.pb
/.idea/jarRepositories.xml
/.idea/misc.xml
/.idea/vcs.xml
